.respuesta
{
    background: #ffffff;
    border-color: rgb(11, 14, 211);
    border-radius: 40px;
    border-style: solid;
    border-width: 0px 15px 15px 0px;
    box-shadow: 4px 6px 20px 5px #05064e;
    line-height: 2;
    padding: 2em 2em 1em 1em;
    margin: 2em;
    font-family: 'Arial';
    font-size: 12pt;
    font-weight: bold;
    text-align: justify;
    color:black;
}

.DivAnimacion
{
    position: relative;
    animation-name: coche;
    animation-delay: 3s;
    animation-duration: 8s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}

@keyframes coche
{
    0% {left:0px;}
    100% {right:0px;transform: scaleX(-1);}
}